h3, p {
    padding-top: 5%;
}
.title {
    text-align: center;
    margin: 5% 10% 0 5%
}

.box {
    float: left;
    padding: 10px;
    width: 30%;
    background: #f0f0f0;
    margin-left:auto;
}


ul li {
    padding: 5%;
}